@import "main.scss";

body {
  background-image: url("../../public/build/img/rainbow-revolution/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Montserrat";
}

div#reportDisplay {
  background: transparent;
  border-radius: 0.5rem;
  margin: 1rem auto;
  max-width: calc(100% - 1rem);
  font-family: "Montserrat";

  text-align: left;
  box-shadow: none;
  padding: 0;
  width: 210mm;

  .tab-display {
    position: relative;
    background: rgba(0, 0, 0, 1);
    border-radius: 0.5rem;
    padding: 1.5rem;
    margin: 3rem auto;
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: -1px;
      top: -1px;
      background: radial-gradient(
        circle at top left,
        #ad0440,
        #532671,
        #069fb4,
        #4aa421,
        #ffb802,
        #fc6c03,
        #de0c3a,
        #ad0440,
        #532671,
        #069fb4,
        #4aa421,
        #ffb802,
        #fc6c03,
        #de0c3a
      );
      background-size: 400%;
      width: calc(100% + 2px);
      height: calc(100% + 2px);
      z-index: -1;
      animation: steam 60s linear infinite;
      border-radius: 0.5rem;
    }

    &:after {
      animation: steam 90s linear infinite;
      filter: blur(50px);
    }
  }

  p {
    font-weight: normal;
    font-size: 18px;
    color: #eee;
    line-height: 1.75rem;
    letter-spacing: 0.375;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #eee;
  }

  h1 {
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 1rem;
    margin-top: 1rem;
    scroll-margin-top: 2rem;

    &.title {
      font-size: 2.5rem;
      font-weight: 600;
      text-align: center;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }
  h2 {
    font-weight: 800;
    font-size: 26px;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  h2.celestial-body-title {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  h3 {
    font-weight: 900;
    font-size: 23px;
    color: #000;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  h3.gate-title {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
}

div#menu {
  color: #fff;
  padding: 1.5rem 3rem;
  margin: 3rem auto;
  width: 100%;
  position: relative;
  padding: 0;
  margin: 0 auto;
  left: unset;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: -1px;
    top: -1px;
    background: radial-gradient(
      circle at top left,
      #ad0440,
      #532671,
      #069fb4,
      #4aa421,
      #ffb802,
      #fc6c03,
      #de0c3a,
      #ad0440,
      #532671,
      #069fb4,
      #4aa421,
      #ffb802,
      #fc6c03,
      #de0c3a
    );
    background-size: 400%;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    z-index: -1;
    animation: steam 60s linear infinite;
    border-radius: 0.5rem;
  }

  &:after {
    animation: steam 90s linear infinite;
    filter: blur(50px);
  }

  
}
