.btn {

  font-weight: bold;
  padding: 0.5rem 0.875rem;

  &.btn-primary {
    background: $color-primary;

  }

  &:hover {
    outline: none;
  }

  &:focus, &:active, &:active:focus {
    outline: none;
  }

  @include transition(all 250ms ease-in-out);
}
