// Header Styling
//$header-background-color: #333;
//$body-background-color: #eee;
$color-primary: #f6b236;
$color-secondary: #8d8e8f;

$white: #fff;
$light-grey: #f4f4f4;
$grey-text: #707070;

$red: #c0392b;
$black: #000;

$green: #37e67a;
