{% extends ea.templatePath('layout') %}

{% trans_default_domain "EasyAdminBundle" %}

{% trans_default_domain ea.i18n.translationDomain %}
{% block content_footer_wrapper '' %}

{% block content_title %}
	{{ bodygraph.name }}
	- Human Design Report
{% endblock %}


{% block body %}
	{% block main %}
		{{ encore_entry_script_tags('js/autoTOC') }}
		<div id="toc"></div>
				<button id="toggle-toc-button" class="btn btn-primary" alt="Toggle Table of Contents">
			<i class="fa fa-bars"></i>
		</button>
		<button id="print-report-button" class="btn btn-primary" onclick="window.print()" alt="Report ausdrucken">
			<i class="fa fa-download"></i>
		</button>

		<button id="dark-light-mode-button" class="btn btn-primary" alt="Dark & Light Mode">
		<i class="fa fa-lightbulb"></i>
		</button>

		<div class="report-text" id="reportDisplay">
			{% include 'bodygraph/_partials/_report.html.twig' with { bodygraph: bodygraph } %}
		</div>
	{% endblock %}
{% endblock %}
