{% set customStylesheet = 'build/css/' ~  bodygraph.user.username ~ '.css' %}

<link href="{{ asset(customStylesheet) }}" rel="stylesheet" />

{% include 'bodygraph/_partials/01_general.html.twig' with { bodygraph: bodygraph } %}

<div class="page-break"></div>

{% include 'bodygraph/_partials/02_centers.html.twig' with { bodygraph: bodygraph } %}

<div class="page-break"></div>

{% include 'bodygraph/_partials/03_gates.html.twig' with { bodygraph: bodygraph, celestialBodies: celestialBodies } %}

<div class="page-break"></div>

{% include 'bodygraph/_partials/04_penta.html.twig' with { bodygraph: bodygraph, celestialBodies: celestialBodies } %}

<div class="page-break"></div>

{% include 'bodygraph/_partials/05_channels.html.twig' with { bodygraph: bodygraph } %}

<div class="page-break"></div>

{% include 'bodygraph/_partials/06_incarnationCross.html.twig' with { bodygraph: bodygraph } %}
