@font-face {
  font-family: "Sansation";
  font-style: normal;
  font-weight: normal;
  src: url("../../fonts/sansation/Sansation-Regular.ttf") format("ttf"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-family: "Sansation";
  font-style: normal;
  font-weight: 200;
  src: url("../../fonts/sansation/Sansation-Light.ttf") format("ttf"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-family: "Sansation";
  font-style: italic;
  font-weight: 200;
  src: url("../../fonts/sansation/Sansation-LightItalic.ttf") format("ttf"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-family: "Sansation";
  font-style: normal;
  font-weight: 600;
  src: url("../../fonts/sansation/Sansation-Bold.ttf") format("ttf"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-family: "Sansation";
  font-style: italic;
  font-weight: 600;
  src: url("../../fonts/sansation/Sansation-BoldItalic.ttf") format("ttf"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
